@{
    var culture = @Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "hi-IN" : "en-US";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @_localizer.GetValue("CompanyTitle")</title>

    <meta content="Computerwala.co.in is a attendance management system and other utility" name="description">
    <meta content="computerwala computer_wala computer wala computerwala.co.in is a attendance management system and other utility" name="keywords">
    <!-- Favicons -->
    <link href="~/user-assets/img/logo.png" rel="icon">
    <link href="~/user-assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="canonical" href="http://www.computerwala.co.in">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="~/user-assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/user-assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/user-assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/user-assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/user-assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/user-assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/user-assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/user-assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.0/font/bootstrap-icons.min.css" integrity="sha512-rDTlSC+d3sQQeTwkSYI7grcqLTrDZjOEEddzt/7IRA+9Q7x1Zud4j++lH29VSlNrTI0RZ/9d45X6qrFK0RD94w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Template Main CSS File -->
    <link href="~/user-assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <style>
        .dayclick:hover {
            background-color: green;
            color: white;
            border-radius: 2px;
        }

        .calenderRow {
            height: 400px;
            min-width: 400px !important;
            max-width: 450px !important;
            width: 400px !important;
        }

    </style>
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">

        <div class="container d-flex align-items-center">
            <h1 class="logo me-auto"><a asp-action="Index" asp-controller="Home"><span>Computer</span>Wala</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            @* <a href="index.html" class="logo me-auto me-lg-0"><img src="~/user-assets/img/logo.png" alt="" class="img-fluid"></a> *@

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a href="index.html" class="active">@_localizer.GetValue("Menu_Home")</a></li>

                    <li class="dropdown">
                        <a asp-action="CWCalender" asp-controller="Home">@_localizer.GetValue("Menu_Calender")</a>
                        @*  <ul>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="team.html">Team</a></li>
                        <li><a href="testimonials.html">Testimonials</a></li>
                        <li class="dropdown">
                        <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                        <ul>
                        <li><a href="#">Deep Drop Down 1</a></li>
                        <li><a href="#">Deep Drop Down 2</a></li>
                        <li><a href="#">Deep Drop Down 3</a></li>
                        <li><a href="#">Deep Drop Down 4</a></li>
                        <li><a href="#">Deep Drop Down 5</a></li>
                        </ul>
                        </li>
                        </ul> *@
                    </li>

                    <li><a href="services.html">@_localizer.GetValue("Menu_Services")</a></li>
                    @* <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="blog.html">Blog</a></li> *@
                    <li><a href="contact.html">@_localizer.GetValue("Menu_Contact")</a></li>

                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            <div class="header-social-links d-flex">
                <a href="#" class="twitter"><i class="bu bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bu bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bu bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bu bi-linkedin"></i></i></a>
                <a asp-controller="Home" title="Change language" asp-action="ChangeLanguage" asp-route-culture="@culture" class=""><i class="bi bi-translate"></i></a>
            </div>

        </div>
    </header><!-- End Header -->
    @RenderBody()


    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>ComputerWala</h3>
                        @* <p>
                        A108 Adam Street <br>
                        New York, NY 535022<br>
                        United States <br><br>
                        <strong>Phone:</strong> +1 5589 55488 55<br>
                        <strong>Email:</strong> info@example.com<br>
                        </p> *@
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Join Our Newsletter</h4>
                        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>ComputerWala</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/company-free-html-bootstrap-template/ -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/user-assets/vendor/aos/aos.js"></script>
    <script src="~/user-assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/user-assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/user-assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/user-assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/user-assets/vendor/waypoints/noframework.waypoints.js"></script>
    @* <script src="~/user-assets/vendor/php-email-form/validate.js"></script> *@
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <!-- Template Main JS File -->
    <script src="~/user-assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script type="application/ld+json">
        {
            "@@context": "http://schema.org",
            "@@type": "WebPage",
            "name": "Computer Wala",
            "description": "Computerwala makes things easy.",
            "url": "http://www.computerwala.co.in/Home"
        }
    </script>

    <!--Modals-->

    <div class="modal fade" id="attendanceModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Events</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="fs-6 float-end currentDate" id="exampleModalLabel">Date</div>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Attendance</a>
                            @* <a class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a> *@
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="row">
                                <div class="col-6 p-3">
                                    <div class="d-flex">
                                        <label class="form-check-label fs-6 m-2" for="MorningCheck">Morning</label>
                                        <div class="form-check form-switch m-2">
                                            <input class="form-check-input attendancecheck" type="checkbox" role="switch" id="MorningCheck">
                                        </div>
                                        <button type="button" class="btn d-none btn-sm saveattendance" id="saveMorningAttendance" data-time="morning">
                                            <i class="bi bi-floppy"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-6 p-3">
                                    <div class="d-flex">
                                        <label class="form-check-label m-2 fs-6" for="EveningCheck">Evening</label>
                                        <div class="form-check form-switch m-2">
                                            <input class="form-check-input attendancecheck" type="checkbox" role="switch" id="EveningCheck">
                                        </div>
                                        <button type="button" class=" btn btn-sm d-none saveattendance" id="saveEveningAttendance" data-time="evening">
                                            <i class="bi bi-floppy"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <p>clicked profile</p>
                            <p>clicked profile</p>
                            <p>clicked profile</p>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    @* <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Close</button> *@
                </div>
            </div>
        </div>
    </div>

</body>
</html>
